@using Absolute_Cinema.ViewModels
@{
    ViewData["Title"] = "Фильмы";
}
@model ViewMovies
<div>
    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Id</th>
                <th>Имя</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.SelectedMovie != null)
            {
                <tr>
                    <td>@Model.SelectedMovie.Id</td>
                    <td>@Model.SelectedMovie.Name</td>
                    <td>@Model.SelectedMovie.Description</td>
                    <td>
                        <button onclick="location.href = '/Movies/Update?id=@Model.SelectedMovie.Id'">Изменить</button>
                    </td>
                    <td>
                        <button onclick="Delete(this)">Удалить</button>
                    </td>
                </tr>
            }
            else
            {
                @for (int i = 0; i < Model.Movies.Count; i++)
                {
                    <tr>
                        <td class="Id">@Model.Movies[i].Id</td>
                        <td>@Model.Movies[i].Name</td>
                        <td>@Model.Movies[i].Description</td>
                        <td>
                            <button onclick="location.href = '/Movies/Update?id=@Model.Movies[i].Id'">Изменить</button>
                        </td>
                        <td>
                            <button onclick="Delete(this)">Удалить</button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <h2>Выберите нужный фильм</h2>
    <form asp-controller="Movies" asp-action="Main">
        <input type="number" name="id" min="1" />
        <button type="submit">Показать</button>
        <a class="text-black text-decoration-none" href="https://localhost:7271/Movies/Main">Назад к списку</a>
    </form>
</div>

<script src="/js/MainPage.js"></script>